# Matrix Factorization for Recommendations in Python

In [0]:
import pandas as pd
import numpy as np

#ratings_list = [i.strip().split("::") for i in open('ratings.dat', 'r').readlines()]
#users_list = [i.strip().split("::") for i in open('users.dat', 'r').readlines()]
#movies_list = [i.strip().split("::") for i in open('movies.dat', 'r').readlines()]

#ratings_df = pd.DataFrame(ratings_list, columns = ['UserID', 'MovieID', 'Rating', 'Timestamp'], dtype = int)
#movies_df = pd.DataFrame(movies_list, columns = ['MovieID', 'Title', 'Genres'])




movies_df=pd.read_csv('movies.dat',engine='python',sep='::', names=['MovieID', 'Title', 'Genres'])
ratings_df=pd.read_csv('ratings.dat',engine='python',sep='::',names=['UserID', 'MovieID', 'Rating', 'Timestamp'],dtype=int)
movies_df['MovieID'] = movies_df['MovieID'].apply(pd.to_numeric)

In [0]:
ratings = np.array(ratings_list)
#users = np.array(users_list)
movies = np.array(movies_list)

In [23]:
movies_df.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [24]:
ratings_df.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [25]:
R_df = ratings_df.pivot(index = 'UserID', columns ='MovieID', values = 'Rating').fillna(0)
R_df.head()

MovieID  1     2     3     4     5     6     ...  3947  3948  3949  3950  3951  3952
UserID                                       ...
1         5.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
5         0.0   0.0   0.0   0.0   0.0   2.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 3706 columns]

In [0]:
R = R_df.to_numpy()
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [0]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)

In [0]:
sigma = np.diag(sigma)

In [0]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [31]:
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns)
preds_df.head()

MovieID      1         2         3     ...      3950      3951      3952
0        4.288861  0.143055 -0.195080  ...  0.031912  0.050450  0.088910
1        0.744716  0.169659  0.335418  ... -0.101102 -0.054098 -0.140188
2        1.818824  0.456136  0.090978  ...  0.012345  0.015148 -0.109956
3        0.408057 -0.072960  0.039642  ... -0.026050  0.014841 -0.034224
4        1.574272  0.021239 -0.051300  ...  0.033830  0.125706  0.199244

[5 rows x 3706 columns]

In [0]:
def recommend_movies(predictions_df, userID, movies_df, original_ratings_df, num_recommendations=5):
    
    # Get and sort the user's predictions
    user_row_number = userID - 1 # UserID starts at 1, not 0
    sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False) # UserID starts at 1
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings_df[original_ratings_df.UserID == (userID)]
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'MovieID', right_on = 'MovieID').
                     sort_values(['Rating'], ascending=False)
                 )

    print ('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    print ('Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies_df[~movies_df['MovieID'].isin(user_full['MovieID'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'MovieID',
               right_on = 'MovieID').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

In [37]:
already_rated, predictions = recommend_movies(preds_df, 838, movies_df, ratings_df, 10)

User 838 has already rated 176 movies.
Recommending highest 10 predicted ratings movies not already rated.

In [38]:
already_rated.head(10)

     UserID  ...                           Genres
88      838  ...                           Comedy
130     838  ...                            Crime
123     838  ...                            Drama
124     838  ...           Action|Sci-Fi|Thriller
126     838  ...                            Drama
127     838  ...                      Documentary
55      838  ...                      Documentary
54      838  ...                  Action|Thriller
53      838  ...  Action|Adventure|Fantasy|Sci-Fi
131     838  ...                   Comedy|Romance

[10 rows x 6 columns]

In [39]:
predictions

      MovieID  ...                            Genres
3287     3481  ...                            Comedy
2544     2692  ...              Action|Crime|Romance
2793     2959  ...                             Drama
3535     3751  ...       Animation|Children's|Comedy
2552     2700  ...                  Animation|Comedy
1085     1127  ...  Action|Adventure|Sci-Fi|Thriller
2536     2683  ...                            Comedy
1507     1584  ...                      Drama|Sci-Fi
2997     3174  ...                      Comedy|Drama
2220     2336  ...                             Drama

[10 rows x 3 columns]